.modal-circle {
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.sword-button {
  background: rgba(7, 7, 7, 0.2);
  border: none;
  color: white;
  font-size: 2.5rem;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  cursor: pointer;
  transition: background 0.2s;
}

.sword-button:hover {
  background: rgba(87, 8, 8, 0.4);
}
